@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #e0f7fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Header/Navbar */

.navbar {
  background-color: #008080;
  color: #cccccc; 
  padding: 20px;
  font-size: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  color: #cccccc; 
}

.navbar ul li a:hover {
  color: #4891ff;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* Sections */

section {
  height: 100%;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto; 
} 

/* Hero/Home */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
  width: 950px;
}
 
.hero .hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: -200px;
}

.hero .hero-container .hero-content {
  display: flex;
  flex-direction: column;
  width: 537px;
  text-align: justify;
}

.pic-container,
.pic-container img {
  border-radius: 50%;
  width: 300px;
}

.hero-heading {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: bold;
}

.hero-container .icons {
  margin-top: 3ch;
}

.icons i,
.tech-stack img {
  font-size: 25px;
  width: 30px;
}

.icons {
  margin-bottom: 50px;
}

.tech-stack {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.tech-stack span {
  margin-left: 11px;
}

.tech-stack-text {
  font-size: larger;
  font-weight: 600;
  padding-left: 25px;
}

/* Projects */

section:nth-child(3) {
  height: 200%;
}

.projects_p1 {
  color: #008080;
  text-align: center;
}

.projects_title {
  font-weight: 600;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects .projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 30px;

  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: #008080;
  margin: 2rem auto;
  padding: 0.5rem;
}

.projects-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  text-align: center;
  height: 400px;
  gap: 40px;
  text-align: center;
}

.projects-content p {
  text-align: justify;
}

.projects-content p:nth-child(3) {
  font-weight: 600;
}

.project-image img {
 width: 400px;
 border-radius: 2rem;
}

/* Contact */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(0, 128, 128) 0.1rem solid;;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p a {
  font-size: larger;
  color: #008080;
}

.contact-info-container p a:hover {
  color: #4891ff;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* Footer */

footer .main-menu {
  display: flex;
  justify-content: center;
  font-size: larger;
}

footer p {
  text-align: center;
  font-size: medium;
}


/* BUTTONS */
  
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
  
.btn-color-2 {
  border: rgb(0, 128, 128) 0.1rem solid;;
  background: none;
}

.btn-color-2:hover {
  background: #4891ff;
  color: white;
  cursor: pointer;
}